inst/calculations/bibtex_library.bib
inst/calculations/ICC_calculations.tex
inst/calculations/ICC_calculations.aux
inst/calculations/ICC_calculations.bbl
inst/calculations/ICC_calculations.blg
inst/calculations/ICC_calculations.log
inst/calculations/ICC_calculations.synctex.gz



