# Import functions used
importFrom("stats", "aggregate", "anova", "complete.cases", "lm",
             "model.frame", "pchisq", "pf", "prop.trend.test", "pt",
             "qt", "setNames", "t.test", "var")
# Export all names
exportPattern(".")
